<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Live Captions</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Icon-29</string>
					<string>Blue-Icon-120</string>
					<string>Blue-Icon-76</string>
					<string>Blue-Icon-76</string>
					<string>Blue-Icon-152</string>
					<string>Blue-Icon-180</string>
					<string>Blue-Icon-58</string>
					<string>Blue-Icon-80</string>
					<string>Blue-Icon-167</string>
					<string>Blue-Icon-40</string>
					<string>Blue-Icon-87</string>
					<string>Blue-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Icon-29</string>
					<string>Orange-Icon-120</string>
					<string>Orange-Icon-76</string>
					<string>Orange-Icon-76</string>
					<string>Orange-Icon-152</string>
					<string>Orange-Icon-180</string>
					<string>Orange-Icon-58</string>
					<string>Orange-Icon-80</string>
					<string>Orange-Icon-167</string>
					<string>Orange-Icon-40</string>
					<string>Orange-Icon-87</string>
					<string>Orange-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPurpule</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purpule-Icon-29</string>
					<string>Purpule-Icon-120</string>
					<string>Purpule-Icon-76</string>
					<string>Purpule-Icon-76</string>
					<string>Purpule-Icon-152</string>
					<string>Purpule-Icon-180</string>
					<string>Purpule-Icon-58</string>
					<string>Purpule-Icon-80</string>
					<string>Purpule-Icon-167</string>
					<string>Purpule-Icon-40</string>
					<string>Purpule-Icon-87</string>
					<string>Purpule-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Icon-29</string>
					<string>Red-Icon-120</string>
					<string>Red-Icon-76</string>
					<string>Red-Icon-76</string>
					<string>Red-Icon-152</string>
					<string>Red-Icon-180</string>
					<string>Red-Icon-58</string>
					<string>Red-Icon-80</string>
					<string>Red-Icon-167</string>
					<string>Red-Icon-40</string>
					<string>Red-Icon-87</string>
					<string>Red-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-Icon-29</string>
					<string>Blue-Icon-120</string>
					<string>Blue-Icon-76</string>
					<string>Blue-Icon-76</string>
					<string>Blue-Icon-152</string>
					<string>Blue-Icon-180</string>
					<string>Blue-Icon-58</string>
					<string>Blue-Icon-80</string>
					<string>Blue-Icon-167</string>
					<string>Blue-Icon-40</string>
					<string>Blue-Icon-87</string>
					<string>Blue-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange-Icon-29</string>
					<string>Orange-Icon-120</string>
					<string>Orange-Icon-76</string>
					<string>Orange-Icon-76</string>
					<string>Orange-Icon-152</string>
					<string>Orange-Icon-180</string>
					<string>Orange-Icon-58</string>
					<string>Orange-Icon-80</string>
					<string>Orange-Icon-167</string>
					<string>Orange-Icon-40</string>
					<string>Orange-Icon-87</string>
					<string>Orange-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPurpule</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purpule-Icon-29</string>
					<string>Purpule-Icon-120</string>
					<string>Purpule-Icon-76</string>
					<string>Purpule-Icon-76</string>
					<string>Purpule-Icon-152</string>
					<string>Purpule-Icon-180</string>
					<string>Purpule-Icon-58</string>
					<string>Purpule-Icon-80</string>
					<string>Purpule-Icon-167</string>
					<string>Purpule-Icon-40</string>
					<string>Purpule-Icon-87</string>
					<string>Purpule-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-Icon-29</string>
					<string>Red-Icon-120</string>
					<string>Red-Icon-76</string>
					<string>Red-Icon-76</string>
					<string>Red-Icon-152</string>
					<string>Red-Icon-180</string>
					<string>Red-Icon-58</string>
					<string>Red-Icon-80</string>
					<string>Red-Icon-167</string>
					<string>Red-Icon-40</string>
					<string>Red-Icon-87</string>
					<string>Red-Icon-20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb202994098319547</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>202994098319547</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookDisplayName</key>
	<string>Hearing Aid App</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to Video Camera to create videos with subtitles on the fly</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please allow access to Microphone to convert the voice into subtitles on the fly</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to Photo Library to select a video for adding subtitles</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Please allow access to Speech Recognition</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Dear User, we use your data only for analytics purpose. To improve the app and help you get better product. We don't share this data to any third party. Please allow permission. Thank you!</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
